<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--单位：毫秒  1000毫秒=1秒  多少秒执行一次检查,默认7000秒，即2小时(7000000)检查一次-->
    <add key="CheckTimes" value="3000"/>
    <add key="FilePath" value="E:\web\WeiXinServiceManage\XMLFile.xml"/>
    <add key="AppID" value="wx2b5a801cd0aa12c7"/>
    <add key="AppSecret" value="42ac52963fadb13b2abff3a4c374888e"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>