
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BespeakSeatLayout</title>
    <!--框架必需start-->
    <script type="text/javascript" src="~/quickui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/framework.js"></script>
    <link href="~/quickui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" id="skin" prePath="~/quickui/" />
    <link rel="stylesheet" type="text/css" id="customSkin" />
    <!--框架必需end-->
    <link rel="stylesheet" type="text/css" href="~/quickui/style/style.css" />

    <script src="~/quickui/libs/js/table/quiGrid.js" type="text/javascript"></script>

    <!--引入提示组件start-->
    <script type="text/javascript" src="~/quickui/libs/js/popup/toast.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/popup/notice.js"></script>
    <!--引入提示组件end-->
    <!--绘制座位图需要start-->
    <link href="~/Content/Styles/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles/SeatGraph.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Content/Scripts/SeatGraphHandle.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/jquery-1.4.1.js"></script>

    <script type="text/javascript">

        var bespeakDate = '@ViewBag.bespeakDate';
        var roomNum = '@ViewBag.roomNum';

        $(document).ready(
            function () {
                loadBespeakSeatLayout();
                intervalRun();
            })

        function intervalRun() {
            var interval;
            interval = setInterval(loadBespeakSeatLayout, '5000');
        }
    </script>
</head>
<body>
    <div class="mainDiv">
        <div id="divSeatGraphMain" class="SeatGraphMain">
            正在载入……
        </div>
    </div>
</body>
</html>
