
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BespeakProcess</title>
    <!--框架必需start-->
    <script type="text/javascript" src="~/quickui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/framework.js"></script>
    <link href="~/quickui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" id="skin" prePath="~/quickui/system/style16_accordion_blue/skin/" />
    <link rel="stylesheet" type="text/css" id="customSkin" />
    <!--框架必需end-->

    <script type="text/javascript" src="~/quickui/libs/js/nav/basicTabProcess.js"></script>
</head>
<body>
    <div class="basicTabProcess">
        <img src='/seat/Content/Images/Process.png' />
    </div>
</body>
</html>
