
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BespeakProcess</title>
    <!--框架必需start-->
    <script type="text/javascript" src="/quickui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="/quickui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="/quickui/libs/js/framework.js"></script>
    <link href="/quickui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" id="skin" prePath="/quickui/system/style16_accordion_blue/skin/" />
    <link rel="stylesheet" type="text/css" id="customSkin" />
    <!--框架必需end-->

    <script type="text/javascript" src="/quickui/libs/js/nav/basicTabProcess.js"></script>
</head>
<body>
    <div class="basicTabProcess">
        <div name="流程选项1" style="height:200px;" iconClass="process_item1">
            内容1<br />内容1
        </div>
        <div name="流程选项2" style="height:200px;" iconClass="process_item2">
            内容2<br />内容2
        </div>
        <div name="流程选项3" style="height:200px;" iconClass="process_item3">
            内容3<br />内容3
        </div>
    </div>
</body>
</html>
