
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexData</title>

    <!--框架必需start-->
    <script type="text/javascript" src="~/quickui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/framework.js"></script>
    <link href="~/quickui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" id="skin" prePath="~/quickui/" />
    <link rel="stylesheet" type="text/css" id="customSkin" />
    <!--框架必需end-->
    <link rel="stylesheet" type="text/css" href="~/quickui/style/style.css" />
    <script src="~/quickui/libs/js/table/quiGrid.js" type="text/javascript"></script>
    <!--引入提示组件start-->
    <script type="text/javascript" src="~/quickui/libs/js/popup/toast.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/popup/notice.js"></script>
    <!--引入提示组件end-->
    <!--树组件start -->
    <script type="text/javascript" src="~/quickui/libs/js/tree/ztree/ztree.js"></script>
    <link href="~/quickui/libs/js/tree/ztree/ztree.css" rel="stylesheet" type="text/css" />
    <!--树组件end -->
    <!--布局控件start-->
    <script type="text/javascript" src="~/quickui/libs/js/nav/layout.js"></script>
    <!--布局控件end-->
    <script src="~/quickui/libs/js/form/validationRule.js" type="text/javascript"></script>
    <script src="~/quickui/libs/js/form/validation.js" type="text/javascript"></script>

    <script src="~/echartjs/echarts.min.js" type="text/javascript"></script>
   
</head>
<body>

    <form id="form1" name="form1">
        <table cellpadding="5" cellspacing="5">
            <tr>
                <td><select id="selectLibs" name="selectLibs" url="@Url.Action("GetLibsData", "Home")"></select></td>
                <td><input type="button" value="查询" class="primary" id="btnQuery" onclick="btnQueryClick()" /></td>
            </tr>
        </table>
    </form>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 99%;height:600px;"></div>

    <script>

        function btnQueryClick()
        {
            var selectValue = $("#selectLibs").val();
            var selectText =  $("#selectLibs").find("option:selected").text();
           // alert(selectText);
            showCharts(selectValue, selectText);
        }

        function showCharts(libId,text)
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCharts", "Home")'+'?libID=' + libId + '&libText='+text,
                data: null,
                success: function (result) {
                    var obj = eval('(' + result + ')');
                    console.log(result);
                    option = obj;
                    myChart.setOption(option);
                },
                error: function (a) {
                    top.Toast("showErrorToast", "访问服务器端出错！");
                },
                dataType: 'text'
            });
        }

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var option = "";
        $(function () {

            showCharts("","");

        });

    </script>

    <script>





    </script>
</body>
</html>
