<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="sqlFrom" value="select * from BASE_CUSTOMERS where OUTID in (select  OUTID  from  BASE_CUSTOMERS  group  by  OUTID  having  count(OUTID) = 1) and STATUS=1"/>
    <add key="ConnectionFromDB"  value="Data Source=172.17.160.14;Initial Catalog=TSGTransDbCpu;Persist Security Info=True;User ID=gxchuwei;Password=gxchuwei.com" />
    <add key="ConnectionToDB"  value="Data Source=.;Initial Catalog=SeatBook30;Persist Security Info=True;User ID=sa;Password=gxchuwei.com" />

    <!--单位：毫秒  1000毫秒=1秒  多少秒执行一次检查,默认59(3540000)分钟检查一次-->
    <add key="CheckTimes" value="3000"/>
    <!--每天定时同步，默认2点-->
    <add key="SyncTimeHour" value="23"/>
    
  </appSettings>
</configuration>