<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EndpointAddress" connectionString="QdwshFpoJBP3UK5DXKzSAd0GV96PtXcX3dHvunXxyE4="/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
