
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserInfo</title>
    <!--框架必需start-->
    <script type="text/javascript" src="~/quickui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/framework.js"></script>
    <link href="~/quickui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" id="skin" prePath="~/quickui/" />
    <link rel="stylesheet" type="text/css" id="customSkin" />
    <!--框架必需end-->
    <link rel="stylesheet" type="text/css" href="~/quickui/style/style.css" />

    <script src="~/quickui/libs/js/table/quiGrid.js" type="text/javascript"></script>

    <!--引入提示组件start-->
    <script type="text/javascript" src="/quickui/libs/js/popup/toast.js"></script>
    <script type="text/javascript" src="/quickui/libs/js/popup/notice.js"></script>
    <!--引入提示组件end-->

    <script>


    </script>
    <style>
        .oppContent {
            width: 340px;
            height: 40px;
            float: left;
        }

        .searchContent {
            width: 440px;
            height: 40px;
            position: absolute;
            right: 0;
        }
    </style>
</head>
<body>

    <div class="page_content">
        <div class="oppContent">
            <div class="buttonGroup" style="width: 320px;">
                <span class="leftButton icon_add" onclick="addOrEdit('add')">新增</span>
                <span class="leftButton icon_add" onclick="addOrEdit('edit')">编辑</span>
                <span class="centerButton icon_delete" onclick="deleteUnit()">删除</span>
                <span class="centerButton icon_import" onclick="showImportDialog()">导入</span>
                <div class="popupMenu">
                    <span class="rightButton icon_export">导出</span>
                    <div class="clear"></div>
                    <div class="popupMenu_con">
                        <a href="javascript:;" onclick="exportPageData()"><span>导出当前页</span></a>
                        <a href="javascript:;" onclick="exportTotalData()"><span>导出全部数据</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="searchContent">
            <form id="queryForm" name="queryForm" method="post">
                <table style="float: right;">
                    <tr>
                        <td>
                            <input type="text" placeholder="姓名" id="UserName" name="UserName" value="@ViewBag.strWhere" />
                        </td>
                        <td><button type="button" onclick="searchHandler()" id="search" class="primary"><span class="icon_find">查询</span></button></td>
                        <td><button type="button" onclick="resetSearch()"><span class="icon_clear">重置</span></button></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="clear"></div>

        <div class="infoCard infoCard2">
            <div class="title">
                <span>用户列表</span>
            </div>
            <div id="dataBasic"></div>
        </div>

    </div>

    <script type="text/javascript">
        var grid = null;
        var dd = @MvcHtmlString.Create(@ViewBag.Data);
        //数据表格使用
        var gridData = dd;

        function initComplete() {
            grid = $("#dataBasic").quiGrid({
                columns: [{
                    display: '登录账号',
                    name: 'LoginId',
                    width: "15%"
                },{
                    display: '用户姓名',
                    name: 'UserName',
                    width: "20%"
                },{
                    display: '用户类型',
                    name: 'UserType',
                    width: "20%"
                }, {
                    display: '用户状态',
                    name: 'IsUsing',
                    width: "10%"
                }, {
                    display: '备注',
                    name: 'Remark',
                    width: "35%"
                }
                ],
                data: gridData,
                sortName: 'UserName',
                rownumbers: true,
                checkbox: false,
                height: '99%',
                width: "99%",
                pageSize: 100,
                percentWidthMode: true,
                onAfterShowData: onAfterShowData
            });
        }

        function onAfterShowData(data) {

            $("#dataBasic").find(".popupMenu").each(function() {
                $(this).hover(function() {
                    $(this).find(".popupMenu_con").show();
                }, function() {
                    $(this).find(".popupMenu_con").hide();
                });
            })
        }

        function resetSearch()
        {
            $("#UserName").val("");
            location.href = "/UsersManage/UserInfoQuery";
        }


        function searchHandler(){
            var $strWhere = $("#UserName");
            location.href = "/UsersManage/UserInfoQuery?strWhere="+$strWhere.val();
        }

        function earlyWarning(){
            top.Dialog.open({URL:"../../sample_skin/demo/oa_52.html",Title:"设置预警",Width:400,Height:250});
        }


        function addOrEdit(op){
            
            var url = "";
            if(op == 'add'){
                url = "/UsersManage/AddOrEdit?op="+op+"&LoginId=0";
            }else if(op == 'edit'){
                var selectData = grid.getSelectedRow(); 
                url = "/UsersManage/AddOrEdit?op="+op+"&LoginId="+selectData.LoginId;
            }
            var diag = new top.Dialog();
            diag.Title = '操作窗口';
            diag.URL = url;
            diag.Width=550;
            diag.Height=500;
            diag.OkButtonText = "保 存";
            //顺序很重要，diag.show()之前添加确定按钮事件，show之后添加新按钮
            diag.OKEvent = function() {
                //var inputValue = diag.innerFrame.contentWindow.myTest();
                var inputValue = diag.innerFrame.contentWindow.myTest();
            };
            diag.show();

        }

    </script>
</body>
</html>
