
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoomTripsOutInfo</title>
    <!--框架必需start-->
    <script type="text/javascript" src="~/quickui/libs/js/jquery.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/language/cn.js"></script>
    <script type="text/javascript" src="~/quickui/libs/js/framework.js"></script>
    <link href="~/quickui/libs/css/import_basic.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" id="skin" prePath="~/quickui/" />
    <link rel="stylesheet" type="text/css" id="customSkin" />
    <!--框架必需end-->
    <link rel="stylesheet" type="text/css" href="~/quickui/style/style.css" />
    <script src="~/quickui/libs/js/table/quiGrid.js" type="text/javascript"></script>
    <!--引入提示组件start-->
    <script type="text/javascript" src="/quickui/libs/js/popup/toast.js"></script>
    <script type="text/javascript" src="/quickui/libs/js/popup/notice.js"></script>
    <!--引入提示组件end-->
    <!--树组件start -->
    <script type="text/javascript" src="/quickui/libs/js/tree/ztree/ztree.js"></script>
    <link href="/quickui/libs/js/tree/ztree/ztree.css" rel="stylesheet" type="text/css" />
    <!--树组件end -->
    <!--布局控件start-->
    <script type="text/javascript" src="/quickui/libs/js/nav/layout.js"></script>
    <!--布局控件end-->
    <script src="/quickui/libs/js/form/validationRule.js" type="text/javascript"></script>
    <script src="/quickui/libs/js/form/validation.js" type="text/javascript"></script>

    <script src="/echartjs/echarts.min.js" type="text/javascript"></script>
    <script src="/echartjs/echarts.min.js" type="text/javascript"></script>
</head>
<body>
    <div id="main" style="width: 600px;height:400px;"></div>
    <script>
        // 绘制图表。
        echarts.init(document.getElementById('main')).setOption({
            series: {
                type: 'pie',
                data: [
                    {name: 'A', value: 1212},
                    {name: 'B', value: 2323},
                    {name: 'C', value: 1919}
                ]
            }
        });
    </script>


</body>
</html>
