<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DosConn" providerName="Dos.ORM.SqlServer9" connectionString="server=192.168.1.104;database=SeatManageDB;uid=sa;pwd=!QAZxsw2;"/>
  </connectionStrings>
  <appSettings>
    <add key="addParm" value="Parm"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <system.webServer>
    <modules>
      <add name="MyModule" type="DianziKejiDaXueYKTInterface.Handler1" />
    </modules>

    <handlers>
        <!--   type="DianziKejiDaXueYKTInterface.Handler1,DianziKejiDaXueYKTInterface"  path中指定的是执行type中HttpHandler的访问路径。此路径可以带后缀也可以不带后缀。如果path配置为*，则会对所有的请求执行此HttpHandler-->
        <add name="MyModule" verb="*" path="*" type="DianziKejiDaXueYKTInterface.Handler1,DianziKejiDaXueYKTInterface"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>